*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  list-style : none;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  border: 1px solid #D3D3D3;
}

.header{
  border: 1px solid #D3D3D3;
}

.header ul {
  display: flex;
}

.header ul li{
  width: 50%;
  padding: 20px 150px;
}

.header ul li a {
  text-decoration: none;
  color: rgb(119, 119, 119)
}

.body {
  height: 20vh;
}

.number {
  display: flex;
  padding: 28px;
  font-size: 75px;
}
.number input {
  width: 30%;
  display: flex;
}

.number span {
  font-size: 40px;
}

.number p::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 4%;
  right: 69%;
  border-bottom: 1px solid #D3D3D3;
}

.footer {
  border-top: 1px solid #D3D3D3;
  height: 12vh;
}

.btn {
  margin: 16px;
}
.btnStart {
  background-color: #00f;
  color: #fff;
}
.btnRESET {
  background-color: #fff;
  color: #00f;
  border: 1px solid #D3D3D3;
}
.btn button {
  margin: 7px;
  padding: 11px;
  width: 14%;
}

.popup {  
  display: flex;
  justify-content: center;
}

.inputValue input {
  border: 1px solid #D3D3D3;
  margin: 10px;
  padding: 10px;
}
.inputValue button {
  padding: 10px 20px;
}







/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
